*{
    box-sizing: border-box;
    
}

body{
    background-color: rgb(127, 163, 255);
}
.main-page-header{
    padding: 10px 0;
    background-color: rgb(2, 21, 23);
    color: white;
    margin: 20px 0;
}
.navigation{
    /* border: 1px solid white; */
    margin-left: 20px;
}
.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
.navigation li a{
    color:white;
    text-decoration: none;
}
.table{
    background-color: rgb(2, 21, 23);
}
  
